<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to allow Node.js to handle requests -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Rewrite rules for Next.js -->
    <rewrite>
      <rules>
        <!-- Handle Next.js API routes -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Handle static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(public|static|_next)\/.*" />
          <action type="None" />
        </rule>
        
        <!-- Send everything else to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security settings -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Disable Node.js ETW tracing -->
    <iisnode 
      node_env="%node_env%"
      nodeProcessCommandLine="node"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectoryNameSuffix="logs"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
    />
    
    <!-- HTTP Errors -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration> 